<h2>Contact</h2>
<br/>
<address>
  Movies Rating<br />
  Gdańsk, ul. Abrachama 12<br />
  <abbr title="Phone">728 271 263</abbr>
</address>

<address>
  <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@moviesrating.com</a>
</address>