<div class="row">
  <div class="col-md-4">
    <h2>Rate films</h2>
    <p>
      Do you have your favourite films? Or maybe do you hate any of them? Use our website and rate them.
    </p>
    <p><p><%= link_to 'Movie list', '/list', class: 'btn btn-default' %></p></p>
  </div>
  <div class="col-md-4">
    <h2>Create an account</h2>
    <p>
      Create an account and get full access to our website! You will be able to read about films and rate them.
    </p>
    <p><%= link_to 'Sing up', sign_up_path, class: 'btn btn-default' %></p>
  </div>
  <div class="col-md-4">
    <h2>Contact</h2>
    <p>
      Do you have any questions? You can write an email or call us.<br/><br/>
    </p>
    <p><%= link_to 'Contact us', '/contact', class: 'btn btn-default' %></p>
  </div>
</div>